mixin header
    table.header(align='center')
        tr
            td
                +spacer(27)
        tr
            td.logo
                a(href='https://www.forpeeps.com')
                    img(src='img/logo.png', alt='logo')

        tr
            td
                +spacer(25)
