@font-face {
  font-family: 'fpp';
  src:
    url('fonts/fpp.ttf?xe3x65') format('truetype'),
    url('fonts/fpp.woff?xe3x65') format('woff'),
    url('fonts/fpp.svg?xe3x65#fpp') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="fpp-icon-"], [class*=" fpp-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fpp' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fpp-icon-reset-1:before {
  content: "\e932";
}
.fpp-icon-reset-2:before {
  content: "\e933";
}
.fpp-icon-resend:before {
  content: "\e934";
}
.fpp-icon-user:before {
  content: "\e931";
}
.fpp-icon-plus:before {
  content: "\e930";
}
.fpp-icon-caret-r:before {
  content: "\e92e";
}
.fpp-icon-caret:before {
  content: "\e92f";
}
.fpp-icon-export:before {
  content: "\e92d";
}
.fpp-icon-arrow-right:before {
  content: "\e92b";
}
.fpp-icon-arrow-left:before {
  content: "\e92c";
}
.fpp-icon-cloud-arrows:before {
  content: "\e926";
}
.fpp-icon-company:before {
  content: "\e928";
}
.fpp-icon-web-transactions:before {
  content: "\e927";
}
.fpp-icon-revenue:before {
  content: "\e92a";
}
.fpp-icon-sort-desc-b:before {
  content: "\e920";
}
.fpp-icon-sort-asc-b:before {
  content: "\e921";
}
.fpp-icon-sort:before {
  content: "\e922";
}
.fpp-icon-sort-asc:before {
  content: "\e923";
}
.fpp-icon-sort-desc:before {
  content: "\e924";
}
.fpp-icon-oval:before {
  content: "\e925";
}
.fpp-icon-uncheck:before {
  content: "\e90c";
}
.fpp-icon-check:before {
  content: "\e90d";
}
.fpp-icon-paper-plane:before {
  content: "\e90e";
}
.fpp-icon-credit:before {
  content: "\e90f";
}
.fpp-icon-chart:before {
  content: "\e910";
}
.fpp-icon-bank:before {
  content: "\e911";
}
.fpp-icon-ellipsis:before {
  content: "\e912";
}
.fpp-icon-add:before {
  content: "\e913";
}
.fpp-icon-reset-2fa:before {
  content: "\e914";
}
.fpp-icon-reset:before {
  content: "\e915";
}
.fpp-icon-trash:before {
  content: "\e916";
}
.fpp-icon-pause:before {
  content: "\e917";
}
.fpp-icon-bell:before {
  content: "\e918";
}
.fpp-icon-message:before {
  content: "\e919";
}
.fpp-icon-telephone:before {
  content: "\e91a";
}
.fpp-icon-profit:before {
  content: "\e91b";
}
.fpp-icon-search:before {
  content: "\e91c";
}
.fpp-icon-world:before {
  content: "\e91d";
}
.fpp-icon-round-arrows:before {
  content: "\e91e";
}
.fpp-icon-user-group:before {
  content: "\e91f";
}
.fpp-icon-settings:before {
  content: "\e902";
}
.fpp-icon-settings-d:before {
  content: "\e903";
}
.fpp-icon-api:before {
  content: "\e907";
}
.fpp-icon-api-d:before {
  content: "\e908";
}
.fpp-icon-eshop:before {
  content: "\e901";
}
.fpp-icon-logout:before {
  content: "\e904";
}
.fpp-icon-logout-d:before {
  content: "\e905";
}
.fpp-icon-phone:before {
  content: "\e906";
}
.fpp-icon-phone-d:before {
  content: "\e929";
}
.fpp-icon-cloud:before {
  content: "\e909";
}
.fpp-icon-cloud-d:before {
  content: "\e90a";
}
.fpp-icon-eshop-d:before {
  content: "\e90b";
}
.fpp-icon-spinner:before {
  content: "\e900";
}
